{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TipoPlanta edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipoplanta') }}">
            Back to the list
        </a>
    </li>
    {{ form(delete_form) }}
</ul>
{% endblock %}
