{% extends app.request.xmlHttpRequest ? "UpaoFundoBundle:Layout:modal.html.twig" :  "UpaoFundoBundle:Layout:base.html.twig" %}

{% block body %}

    <form {% block enctype %}{{ form_enctype(form) }}{% endblock %}
            class="form-horizontal form-accion"
            action="{% block action %}{{ path('tipoplanta_create') }}{% endblock %}"
            method="post" role="form">

        <div class="modal-header">
            <h4 class="modal-title">{% block title %}Tipo de Planta{% endblock %}</h4>
        </div>

        <div class="modal-body">

            <div data-alerts="alerts"></div>
            {% block content %}
                {{ form_errors(form) }}
                {{ form_rest(form) }}
            {% endblock %}


        </div>

        <div class="modal-footer">

            {% block buttons %}
                <button type="submit" class="btn btn-primary">Registrar</button>
            {% endblock %}
        </div>

    </form>
{% endblock %}


{% block javascript %}

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>


{% endblock %}

