composer.lock
composer.phar
.idea/

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/template.css

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
