#feedback {
  font-size: 1.4em;
}

#fundo-region .ui-selecting {
  background: #FECA40;
}

#fundo-region .ui-selected {
  background: #F39814;
  color: white;
}

#fundo-region {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100px;
    height: 80px;
    text-align: center;
    overflow: hidden;

    .codigo {

      font-size: 40px;
      line-height: 80px;
      text-align: center;
      //opacity: 0.5;

    }

  }
}


