<div id="sembrar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">

            <form  {% block enctype %}{% endblock %} class="form-horizontal form-accion"
                                                     action="{% block action %}{% endblock %}"
                                                     method="{% block method %}post{% endblock %}" role="form">
                <div class="modal-header">
                    <button type="button" class="close" rel="modal:close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        {% block title %}{% endblock %}
                    </h4>
                </div>
                <div class="modal-body">
                    <div data-alerts="alerts"></div>
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" rel="modal:close">Cerrar</button>
                    {% block buttons %}
                    {% endblock %}
                </div>
            </form>

        </div>

    </div>
</div>


{% block javascript %}
{% endblock %}