{% extends '::base.html.twig' %}

{% block body -%}

    <h3>Empleados <a class="btn btn-primary btn-modal" href="{{ path('empleado_new') }}">Nuevo</a></h3>
    <div class="tab-pane" id="datatable">
        <section class="panel">
            <div class="table-responsive">
                <table class="table table-striped m-b-none" data-href="{{ path('empleado') }}" data-ride="datatables">
                    <thead>
                    <tr>
                        <th data-property="nombre" width="50%">Nombre</th>
                        <th data-property="dni" width="20%">D.N.I.</th>
                        <th data-property="telefono" width="20%">Teléfono</th>
                        <th data-property="id" width="10%">Detalle</th>

                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </section>
    </div>



{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {

            $('[data-ride="datatables"]').each(function () {
                var $element = $(this);
                var oTable = $(this).dataTable({
                    "bProcessing": true,
                    "sAjaxDataProp": "results",
                    "sAjaxSource": $element.data('href'),
                    "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                    "sPaginationType": "full_numbers",
                    "aoColumns": [
                        {"mData": "nombre"},
                        {"mData": "dni"},
                        {"mData": "telefono"},
                        {"mData": "id"}
                    ],
                    fnStateLoad: function () {
                        console.log('cargo');
                    }
                });
            });
        })
    </script>

{% endblock %}
