{% extends '::base.html.twig' %}

{% block body -%}

    <h3>Registro del Estado Ambiental</h3>
    <div class="tab-pane" id="datatable">
        <section class="panel">
            <div class="table-responsive">
                <table class="table table-striped m-b-none" data-href="{{ path('estadoambiente') }}" data-ride="datatables">
                    <thead>
                    <tr>
                        <th data-property="fecha" width="20%">Fecha</th>
                        <th data-property="humedad" width="10%">Humedad</th>
                        <th data-property="presion_ambiental" width="10%">Presión Amb.</th>
                        <th data-property="temperatura" width="10%">Temp.</th>
                        <th data-property="observaciones" width="45%">Observaciones</th>
                        <th data-property="id" width="5%">Detalle</th>

                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <a class="btn btn-primary btn-modal" href="{{ path('estadoambiente_new') }}">Nuevo</a>

{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {

            $('[data-ride="datatables"]').each(function () {
                var $element = $(this);
                var oTable = $(this).dataTable({
                    "bProcessing": true,
                    "sAjaxDataProp": "results",
                    "sAjaxSource": $element.data('href'),
                    "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                    "sPaginationType": "full_numbers",
                    "aoColumns": [
                        {"mData": "fecha"},
                        {"mData": "humedad"},
                        {"mData": "presion_ambiental"},
                        {"mData": "temperatura"},
                        {"mData": "observaciones"},
                        {"mData": "id"}
                    ],
                    fnStateLoad: function () {
                        console.log('cargo');
                    }
                });
            });
        })
    </script>

{% endblock %}
