{% extends app.request.xmlHttpRequest ? "UpaoFundoBundle:Layout:modal.html.twig" :  "UpaoFundoBundle:Layout:base.html.twig" %}

{% block body %}



        <div class="modal-header">
            <h4 class="modal-title">{% block title %}Pedido{% endblock %}</h4>
        </div>

        <div class="modal-body">


            {% block content %}


                <table class="record_properties table-striped">
                    <tbody>
                    <tr>
                        <th>Costo:</th>
                        <td>{{ entity.costo }}</td>
                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <td>{{ entity.fecha|date('Y-m-d H:i') }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endblock %}


        </div>

        <div class="modal-footer">


            <a href="{{ path('pedido') }}" class="btn btn-primary">Regresar a la Lista</a>
        </div>

{% endblock %}


{% block javascript %}

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>


{% endblock %}

